.email {
     margin-top: 4vh;
     padding: 7px;
   }
   
   .fab {
     margin: 10px;
     color: rgba(83,44,134,1);
     -webkit-transition: 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out;
     -o-transition: 0.3s ease-in-out;
     transition: 0.3s ease-in-out;
   }
   
   .fab:hover {
     color: rgba(189,93,90,1);
   }
   